* {
    margin: 0;
}


header {
    padding: 4rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: ghostwhite;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8rem;
}

ul li:last-child {

    background-color: black;
    color: white;
    padding: .8rem;
}
