<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron"> 
            <h1>Sobre mim</h1>
            <p>Oi eu sou Renan Arimatea, desenvolvedor junior na Medcloud</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>
